Prepare the data

In [28]:
import pandas as pd

data = pd.read_csv('rawData/1-moves.csv')
data = pd.concat([data, pd.read_csv('rawData/2-moves.csv')])
data = pd.concat([data, pd.read_csv('rawData/3-moves.csv')])
data = pd.concat([data, pd.read_csv('rawData/4-moves.csv')])
data = pd.concat([data, pd.read_csv('rawData/5-moves.csv')])
data = data.reset_index(drop=True)
data = data.drop(columns=['gameID'])
# Min-max normalization per objective function
for objectiveFunction in data.objectiveFunction.unique():
    ofData = data.loc[data['objectiveFunction'] == objectiveFunction].copy()
    scoreMin = ofData['score'].min()
    scoreMax = ofData['score'].max()
    ofData['score'] = (ofData['score'] - scoreMin) / (scoreMax - scoreMin)
    data.loc[ofData.index, :] = ofData[:]
data['computationTime'] = (data['computationTime'] - data['computationTime'].min()) / (data['computationTime'].max() - data['computationTime'].min())
data

      optimisationTechnique objectiveFunction     score  computationTime
0                    Greedy               ttc  0.250000         0.000279
1                    Greedy               ttv  0.292683         0.000131
2                    Greedy               ttc  0.000000         0.000049
3                    Greedy               ttv  0.000000         0.000049
4                    Greedy               ttc  0.000000         0.000066
...                     ...               ...       ...              ...
58696                   ILP           ttcwscm  0.000000         0.003738
58697                   ILP           ttvwscm  0.085537         0.004131
58698                   ILP           ttcwscm  0.000000         0.003984
58699                   ILP           ttvwscm  0.000000         0.004230
58700                   ILP           ttcwscm  0.279167         0.004705

[58701 rows x 4 columns]

Process the data

In [29]:
techniqueGroupedData = data.groupby(['optimisationTechnique']).sum()
techniqueGroupedData['efficiency'] = techniqueGroupedData['score'] / techniqueGroupedData['computationTime']
techniqueGroupedData.to_csv('processedData/techniqueEfficiency.csv')
techniqueGroupedData

                             score  computationTime  efficiency
optimisationTechnique
AlphaBeta              1630.719993      3586.475483    0.454686
Greedy                 1597.812170      5615.772619    0.284522
ILP                    1046.850508        56.912622   18.393996

In [30]:
playerGroupedData = data.groupby(['optimisationTechnique', 'objectiveFunction']).sum()
playerGroupedData['efficiency'] = playerGroupedData['score'] / playerGroupedData['computationTime']
playerGroupedData.to_csv('processedData/playerEfficiency.csv')
playerGroupedData

                                              score  computationTime  \
optimisationTechnique objectiveFunction
AlphaBeta             ttc                373.166667       796.957278
                      ttcwscm            460.610417       875.196134
                      ttv                380.341463       921.903933
                      ttvwscm            416.601446       992.418138
Greedy                ttc                525.250000      1803.652535
                      ttcwscm            391.510417      1269.577583
                      ttv                431.243902      1652.996803
                      ttvwscm            249.807851       889.545697
ILP                   ttc                189.000000         7.277709
                      ttcwscm            368.804167        18.817866
                      ttv                191.146341         9.417384
                      ttvwscm            297.900000        21.399662

                                         efficiency
optimisationTechnique objectiveFunction
AlphaBeta             ttc                  0.468239
                      ttcwscm              0.526294
                      ttv                  0.412561
                      ttvwscm              0.419784
Greedy                ttc                  0.291215
                      ttcwscm              0.308378
                      ttv                  0.260886
                      ttvwscm              0.280826
ILP                   ttc                 25.969709
                      ttcwscm             19.598618
                      ttv                 20.297181
                      ttvwscm             13.920780